:root {
  --color-blue: hsl(223, 87%, 63%);
  --color-pale-blue: hsl(223, 100%, 88%);
  --color-light-green: hsl(154, 59%, 51%);
  --color-light-red: hsl(354, 100%, 66%);
  --color-grey: hsl(0, 0%, 59%);
  --color-very-dark-blue: hsl(209, 33%, 12%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 50%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-grey);
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.5rem;
}

.main-heading {
  font-size: 3rem;
  font-weight: 300;
}

@media only screen and (min-width: 800px) {
  .main-heading {
    font-size: 6rem;
  }
}

.main-heading--bold {
  color: var(--color-very-dark-blue);
  font-weight: 700;
}

.subheading {
  color: var(--color-very-dark-blue);
  font-size: 2rem;
  font-weight: 300;
}

@media (min-width: 800px) {
  .subheading {
    font-size: 2.5rem;
  }
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  overflow-x: hidden;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 11rem;
  padding-bottom: 6rem;
}

.logo {
  width: auto;
  height: auto;
  margin-bottom: 9rem;
}

@media (min-width: 800px) {
  .logo {
    margin-bottom: 6rem;
  }
}

.main-heading {
  margin-bottom: 3rem;
}

@media (min-width: 800px) {
  .main-heading {
    margin-bottom: 1.75rem;
  }
}

.subheading {
  margin-bottom: 5rem;
}

.form {
  margin-bottom: 5rem;
}

@media (min-width: 800px) {
  .form {
    margin-bottom: 11rem;
  }
}

.illustration {
  width: 80%;
  margin-bottom: 17rem;
}

@media (min-width: 800px) {
  .illustration {
    width: 100%;
    margin-bottom: 9rem;
  }
}

.social-media-icons {
  margin-bottom: 3rem;
}

@media (min-width: 800px) {
  .social-media-icons {
    margin-bottom: 2.5rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 36rem;
}

@media (min-width: 800px) {
  .form {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form__input, .form__btn {
  height: 7rem;
  border-radius: 50rem;
}

.form .input-wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0;
}

@media (min-width: 800px) {
  .form .input-wrapper {
    margin-right: 2rem;
  }
}

.form__input {
  width: 100%;
  margin-bottom: 1.75rem;
  padding-left: 4rem;
  border: 1px solid #c0c6d2;
  color: var(--color-very-dark-blue);
  font-size: 2rem;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 800px) {
  .form__input {
    margin-bottom: 0;
  }
}

.form__input:focus:valid {
  border: 2px solid var(--color-light-green);
}

.form__input:focus:valid + .validation-icons::before {
  opacity: 1;
}

.form__input:focus:invalid {
  border: 2px solid var(--color-light-red);
}

.form__input:focus:invalid + .validation-icons::after {
  opacity: 1;
}

.form__input::-webkit-input-placeholder {
  color: #c0c6d2;
  font-size: 2rem;
  font-weight: 300;
}

.form__input:-ms-input-placeholder {
  color: #c0c6d2;
  font-size: 2rem;
  font-weight: 300;
}

.form__input::-ms-input-placeholder {
  color: #c0c6d2;
  font-size: 2rem;
  font-weight: 300;
}

.form__input::placeholder {
  color: #c0c6d2;
  font-size: 2rem;
  font-weight: 300;
}

.form .validation-icons::before {
  content: url(../images/icon-checkmark.svg);
  position: absolute;
  top: 1.875rem;
  right: 4rem;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form .validation-icons::after {
  content: url(../images/icon-error.svg);
  position: absolute;
  top: 1.875rem;
  right: 4rem;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__btn {
  padding: 0 7.75rem;
  border: none;
  -webkit-box-shadow: 0 5px 10px rgba(79, 125, 243, 0.3);
          box-shadow: 0 5px 10px rgba(79, 125, 243, 0.3);
  background-color: var(--color-blue);
  color: white;
  font-size: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__btn:hover {
  background-color: rgba(79, 125, 243, 0.8);
}

.form__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.social-link {
  text-decoration: none;
}

.social-link:not(:last-child) {
  margin-right: 2rem;
}

@media only screen and (min-width: 800px) {
  .social-link:not(:last-child) {
    margin-right: 1rem;
  }
}

.social-link__icon {
  overflow: visible;
  width: auto;
  height: 6rem;
  padding: 1.5rem;
  border: 1px solid #e1e4e9;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (min-width: 800px) {
  .social-link__icon {
    height: 4rem;
    padding: 1rem;
  }
}

.social-link__icon:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.social-link__icon * {
  fill: var(--color-blue);
}
/*# sourceMappingURL=main.css.map */