@keyframes floatAround {
    0% {
		transform: translate(0) rotate(-.5deg);
    }
    
	50% {
		transform: translateY(-.5rem) rotate(1deg);
    }
    
	100% {
		transform: translate(0) rotate(-.5deg);
	}
}

:root {
    --color-dark-blue: hsl(240, 38%, 20%);
    --color-greyish-blue: hsl(240, 18%, 77%);
}

html {
    box-sizing: border-box;
    font-size: 50%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-dark-blue);
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
}

.review-text {
    font-size: 2.25rem;
    font-weight: 300;
    text-align: center;

    @media (min-width: 800px) {
        font-size: 3.25rem;
        text-align: start;
    }

    @media (min-width: 1200px) {
        font-size: 4rem;
        line-height: 5.5rem;
    }
}

.author {
    &__content-wrapper {
        font-size: 2rem;

        @media (min-width: 1200px) {
            font-size: 2.75rem;
        }
    }

    &__name {
        font-weight: 700;
    }

    &__title {
        color: var(--color-greyish-blue);
        font-weight: 500;
    }
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 8vw;
    padding-top: 14vw;
    background: url(../images/pattern-bg.svg), url(../images/pattern-curve.svg);
    background-position: center 8%, bottom left;
    background-repeat: no-repeat;
    background-size: 85%, 80%;

    @media (min-width: 800px) {
        align-items: center;
        padding: 0 8rem;
        background-position: 90% 35%, bottom left;
    }
}

.content-wrapper {
    width: 100%;
    max-width: 138rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 800px) {
        flex-direction: row;
    }
}

// REVIEW

.text-wrapper {
    position: relative;
    order: 2;

    &::before {
        content: url(../images/pattern-quotes.svg);
        position: absolute;
        top: -7rem;
        left: 50%;
        transform: translate(-50%) scale(.5);

        @media (min-width: 800px) {
            top: -8.5rem;
            left: 11.5rem;
            transform: initial;
        }
    }

    @media (min-width: 800px) {
        order: 1;
        margin-bottom: -4rem;
    }
}

.review-text {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 60rem;
    margin-bottom: 4rem;

    @media (min-width: 800px) {
        width: 115%;
        max-width: none;
    }
}

.author {
    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 800px) {
            flex-direction: row;
        }
    }

    &__name {
        @media (min-width: 800px) {
            margin-right: 1rem;
        }
    }
}

// CAROUSEL

.carousel {
    position: relative;
    order: 1;
    margin-bottom: 10rem;

    @media (min-width: 800px) {
        order: 2;
        margin-top: -4rem;
        margin-bottom: 0;
    }

    &__img {
        display: block;
        width: 80%;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 1rem 6rem 40px -2.5rem hsla(240, 37%, 20%, 0.2);
        animation: floatAround 4s ease-in-out infinite;

        // ANTI-ALIASING
        outline: 1px solid transparent;
        padding: 1px;
        background-clip: content-box;

        @media (min-width: 800px) {
            width: 45vw;
        }

        @media (min-width: 1200px) {
            width: auto;
        }
    }

    &__btn-wrapper {
        position: absolute;
        left: 50%;
        bottom: -3rem;
        transform: translate(-50%);
        display: flex;

        @media (min-width: 800px) {
            left: 8rem;
            bottom: -3rem;
            transform: translate(0)
        }
    }
}

.btn {
    border: none;
    padding: 1.5rem 1.75rem;
    background: #fff;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;

    @media (min-width: 800px) {
        padding: 2.125rem 2.75rem;
    }

    // SAFARI FLICKERING GLITCH
    backface-visibility: hidden;
    transform: translate3d(0,0,0);

    &:hover {
        background: rgb(240, 240, 240);
    }

    &:active img {
        transform: scale(1.2);
    }

    & img {
        width: 1rem;

        @media (min-width: 800px) {
            width: auto;
        }
    }

    &--previous {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    &--next {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}

